<nav class="navbar navbar-default navbar-transparent-dark navbar-white">
    <div class="container" id="nav-container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#top-navbar" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="javascript:;">
                <img src="~/images/logo_white.fw.png" alt="App logo" width="175">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Index","Home")">Features</a></li>
                <li><a href="@Url.Action("Pricing","Home")">Pricing</a></li>
                <li><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                <li><a href="@Url.Action("Login","Home")"><strong>Sign in</strong></a></li>
            </ul>
        </div>
    </div>
</nav>